*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image:linear-gradient(rgba(0, 0, 50, 0.616),rgba(0,0,50,0.616)), url("./img/bg.jpg");
}

.container{
    box-shadow: 2px 2px 10px 5px;
    /* padding: 20px; */
    width: 40%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.781);
    margin: auto;
    margin-top: 9%;
    border-radius: 10px;
    transition: 1s;
}

h1{
    padding: 20px;
    font-size:large;
}

div{
    margin: 30px;
    /* transition: 0.1s; */
}

input{
    width: 80%;
    padding: 8px;
    outline: none;
    /* transition: 2s; */
    /* border-radius: 10px; */
}

.input-feild{
    height: 35px;
    transition: 0.2s;
    overflow: hidden;
}


.buttons{
    display: flex;
    justify-content: space-evenly;
}

.EnableButton{
    transition: 0.18s;
    background-color: rgb(77, 77, 126);
    color: white;
    width: 30%;
    padding: 0.5rem;
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.DisableButton{
    background-color: rgba(128, 128, 128, 0.418);
    color: rgba(255, 255, 255, 0.582);
    width: 30%;
    padding: 0.5rem;
    font-size: medium;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

#googleBtn{
    width: 80%;
    padding: 1rem;
    background-color: rgb(186, 194, 201);
    cursor: pointer;
    border: 1px solid rgba(73, 73, 241, 0.301);
}

.password a{
    position: relative;
    right: 120px;
}


.fa-google{
    margin-right: 10%;
}

.google{
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
    height: 10%;
}

.msg{
    margin: 0px;
    padding: 2rem;
    background-color: rgba(128, 128, 128, 0.534);
}

.disable{
    background-color: rgb(150, 144, 144);
}

#forget{
    text-decoration: none;
    margin-top: 5px;
}